.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    background: #1b1b2a;
    color: white;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #00ffcc;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #ddd;
    font-weight: 500;
    transition: 0.3s;
    padding: 0.4rem 0.7rem;
    border-radius: 8px;
}

.nav a:hover {
    background: #00ffcc;
    color: #000;
}